h2 {
  font-family: 'Righteous', 'cursive';
  font-family: 'Viga', sans-serif;
}

/* Navbar */
.navbar .container {
  padding: 10px 0;
  font-size: 18px;
}

li {
  font-weight: 500;
}

.navbar .container .navbar-brand {
  font-size: 20px;
  font-family: 'Righteous', cursive;
  font-family: 'Viga', sans-serif;
}

/* Home */
.home {
  padding-top: 10rem;
}

.home img {
  cursor: pointer;
}

.home img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

h1 {
  font-family: 'Righteous', cursive;
  font-family: 'Viga', sans-serif;
  margin-top: 25px;
  
}

hr {
  width: 200px;
  border-top: 2px solid black;
  margin: auto;
}

.home p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.lead {
  margin-top: 20px;
}

section {
  padding-top: 8rem;
}

.blog-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.blog-card:hover {
  transform: translateY(-10px);
}

@media (min-width: 992px) {
  hr {
    width: 600px;
    border-top: 2px solid black;
    margin: auto;
  }
}
 .hover-effect {
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
 }

 .hover-effect:hover {
   transform: scale(1.1);
   /* Zoom-in effect */
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
   /* Shadow effect */
 }

 .emoji {
   position: absolute;
   font-size: 2rem;
   animation: fly 5s infinite linear alternate;
 }

 .ribbon-left {
   top: 30%;
   left: 15%;
   animation-duration: 6s;
 }

 .flower-left {
   top: 50%;
   left: 15%;
   animation-duration: 7s;
 }

 .ribbon-right {
   top: 30%;
   right: 15%;
   animation-duration: 6s;
 }

 .flower-right {
   top: 50%;
   right: 15%;
   animation-duration: 7s;
 }

 .flower-bottom {
   bottom: 10%;
   left: 50%;
   animation-duration: 6s;
 }

 @keyframes fly {
   0% {
     transform: translateY(0) rotate(0deg);
     opacity: 1;
   }

   25% {
     transform: translateY(-15px) rotate(10deg);
     opacity: 0.9;
   }

   50% {
     transform: translateY(-30px) rotate(-10deg);
     opacity: 0.8;
   }

   75% {
     transform: translateY(-15px) rotate(10deg);
     opacity: 0.9;
   }

   100% {
     transform: translateY(0) rotate(0deg);
     opacity: 1;
   }
 }

@keyframes bounceText {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.bounce-animation {
  display: inline-block;
  animation: bounceText 1.5s ease-in-out infinite;
}